* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
  }
  
  .header {
    padding: 20px;
    background: linear-gradient(to bottom right, #8d2b2b 90%, white 10%);
    height: 100vh;
    color: #fff;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    margin-left: 50px;
  }
  
  .title {
    font-size: 100px;
    margin: 10px 50px;
  }
  
  .subtitle {
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  .description {
    width: 90%;
    font-size: 30px;
    margin-left: 50px;
  }
  
  .best-clubs-section {
    padding: 20px;
  }
  
  .best-clubs {
    padding: 20px;
    margin-left: 60px;
  }
  
  .section-title {
    font-size: 50px;
    color: #000;
  }
  
  .icon-award {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .clubs {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 10px 0;
  }
  
  .club {
    text-align: center;
  }
  
  .club-logo {
    width: 260px;
    height: 260px;
  }
  
  .club-text {
    color: red;
    margin-top: 10px;
    font-size: 40px;
  }
  
  .club-subtext {
    color: black;
  }
  
  .footer {
  
      /* background-color: #8B0A0A; */
      background-color: #8B0A0A;
      color: white;
      padding: 50px;
      font-size: 1.5em;
      /* text-align: center; */
      position: relative;
      /* padding: 0; */
      /* margin-left: 0px; */
      clip-path: polygon(0 0, 100% 0, 100% calc(87% - 118px), calc(93% - 63px) 100%, 0 100%);
      padding-left: 292px;
}
  
  .footer p{
    margin-left: 50px;

  }